# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [114]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
import re
text='Python Exercises, PHP exercises.'
pattern='\W'
s=re.sub(pattern,':',text)
s

'Python:Exercises::PHP:exercises:'

# Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !,XXXX,;,etc.) from the columns except words.

In [121]:
import pandas as pd
text={'SUMMARY':['hello, world!','XXXXX test','123four, five:;six....']}
df=pd.DataFrame(text)
df['SUMMARY']=df['SUMMARY'].str.replace(r'\bXXXXX\b|^\d+','')
df['SUMMARY']=df['SUMMARY'].str.replace(r'[\W\s]+',' ')

print(df)

          SUMMARY
0    hello world
1            test
2  four five six

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of re.compile() method is mandatory

In [3]:
def fourword(text):
    pattern=re.compile(r'\b\w{4,}\b')
    s=pattern.findall(text)
    return s
text='This is a sample string with words of varying lengths such as python,programming,language,data science.'
result=fourword(text)
print(result)

['This', 'sample', 'string', 'with', 'words', 'varying', 'lengths', 'such', 'python', 'programming', 'language', 'data', 'science']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory

In [4]:
def threetofive(text):
    pattern=re.compile(r'\b\w{3,5}\b')
    s=pattern.findall(text)
    return s
text='This is a sample string with words of varying lengths such as python,programming,language,data science.'
result=threetofive(text)
print(result)

['This', 'with', 'words', 'such', 'data']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory

In [122]:
def remove_parentheses(strings):
    pattern= re.compile(r'\s*[\(\)]\s*')
    s=[pattern.sub('',l) for l in strings]
    return s
strings=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=remove_parentheses(strings)
for i in result:
    print(i)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression

In [128]:
def remove_parenthesis(text):
    pattern = re.compile(r'\s*[(].*?[)]\s*')
    return pattern.sub('', text)

file_path = 'Sample_text.txt' 
with open(file_path, 'r') as file:
    text = file.read()

s = remove_parenthesis(text)

with open(file_path, 'w') as file: 
    file.write(s)

# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [7]:
text="ImportanceOfRegularExpressionInPython"
result=re.findall(r'[A-Z][^A-Z]*',text)
print(result)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [8]:
def insert_space(text):
    result=re.sub(r'(?<=\D)(?=\d)|(?<=[A-Z])(?=[A-Z][a-z])', ' ', text)
    return result
text="RegularExpression1IsAn2ImportantTopic3InPython"
output=insert_space(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers

In [9]:
def insert_space(text):
    result=re.sub(r'(?<=\D)(?=\d)|(?<=\d)(?=\D)|(?<=[A-Z])(?=[A-Z][a-z])', ' ',text)
    return result
text="RegularExpression1IsAn2ImportantTopic3InPython"
output=insert_space(text)
print(output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [10]:
import pandas as pd
import numpy as np

In [11]:
ds=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
ds

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
ds['first_five_letters']=ds['Country'].str.extract(r'(^.{0,6})')

In [13]:
print(ds.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

In [14]:
ds.first_five_letters

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [15]:
df=pd.DataFrame(ds)

In [16]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters,numbers, and underscores.

In [28]:
def matchstring(text): 
    pattern=r'^[a-zA-Z0-9_]+$'
    if re.match(pattern,text):
        print('Contains only upper,lowercase,number and underscores.')
    else:
        print('Doesnot match')
text=input('Enter the string:')        
matchstring(text)

Enter the string:123hello
Contains only upper,lowercase,number and underscores.

# Question 12- Write a Python program where a string will start with a specific number.

In [ ]:
def specnumber(text):
    pattern=r'^\d'
    if re.match(pattern,text):
        print("Contain number at first")
    else:
        print('Doesnot Contain at first')
text=input('Enter the string: ')
specnumber(text)

# Question 13- Write a Python program to remove leading zeros from an IP address

In [25]:
def leadingzeros(ip_address):
    pattern=r'\b0+(\d+)'
    s=re.sub(pattern,r'\1',ip_address)
    return s
ip_address='192.168.001.001'
leadingzeros(ip_address)

'192.168.1.1'

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [27]:
def extractdate(file_path):
    with open(file_path,'r') as file:
        text=file.read()
    pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'
    match=re.search(pattern,text)
    if match:
        return match.group()
    else:
        return "Date not found in the text"
file_path='Sampletext.txt'
date=extractdate(file_path)
print(date)

August 15th 1947

# Question 15- Write a Python program to search some literals strings in a string.

In [51]:
text='The quick brown fox jumps over the lazy dog'
patterns='fox','dog','horse'
s=[]
for pattern in patterns:
    d=re.findall(pattern,text)
    if d:
        s.append(d)
print(s)

[['fox'], ['dog']]

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [53]:
text='The quick brown fox jumps over the lazy dog'
patterns=r'fox'
d=re.search(pattern,text)
print(d)

<re.Match object; span=(16, 19), match='fox'>

# Question 17- Write a Python program to find the substrings within a string.

In [54]:
def findsubstring(text,pattern):
    match=re.findall(pattern,text)
    return match
text='Python exercises,PHP exercises,C# exercises'
pattern='exercises'
result=findsubstring(text,pattern)
print(result)

['exercises', 'exercises', 'exercises']

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [64]:
def findsubstrings(text,pattern):
    matches=re.finditer(pattern,text)
    return [(match.group(),match.start(),match.end()) for match in matches]
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result=findsubstrings(text,pattern)
print(result)

[('exercises', 7, 16), ('exercises', 22, 31), ('exercises', 36, 45)]

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [11]:
def convertdate(date_str):
    match=re.match(r'(\d{4})-(\d{2})-(\d{2})',date_str)
    if match:
        year,month,day=match.groups()
        formatted_date=f"{day}-{month}-{year}"
        return formatted_date
    else:
        return "Invalid date format"
    
date_str='2023-07-15'
formatted_date=convertdate(date_str)
print("Original Date:",date_str)
print("Formatted Date:",formatted_date)

Original Date: 2023-07-15
Formatted Date: 15-07-2023

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [20]:
def decimal(text):
    pattern=r'\b\d+\.\d{1,2}\b'
    patterns=re.compile(pattern)
    s=patterns.findall(text)
text='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
print(s)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [25]:
def number(text):
    pattern=r'\d+'
    match=re.finditer(pattern,text)
    return [(matches.start(),matches.end(),matches.group())for matches in match]
text='Hello123,abest123,aser345'
number(text)

[(5, 8, '123'), (14, 17, '123'), (22, 25, '345')]

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [26]:
def max_number(text):
    pattern=r'\b\d+\b'
    numeric_values= re.findall(pattern,text)
    numeric_values=[int(num) for num in numeric_values]
    if numeric_values:
        max_value=max(numeric_values)
        return max_value
    else:
        return none
text='My marks in each semester are: 947,896,926,524,734,950,642'
max_number(text)

950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [30]:
def space(text):
    pattern=r'(?<=[a-z])(?=[A-Z])'
    match=re.sub(pattern,' ',text)
    return match
text='RegularExpressionIsAnImportantTopicInPython'
space(text)

'Regular Expression Is An Important Topic In Python'

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [39]:
pattern=r'\b[A-Z][a-z]+\b'
text='Hello World,HELLO world'
s=re.finditer(pattern,text)
for matches in s:
    print(matches.group())

Hello
World

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [42]:
pattern=r'\b(\w+)(?:\s+\1\b)+'
text='Hello hello world world'
m=re.sub(pattern,r'\1',text)
print(m)

Hello hello world

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [80]:
def alpha(text):
    pattern=r'[a-zA-Z]+\d+$'
    s=re.match(pattern,text)
    if s:
        print('Ends with alphanumeric')
    else:
        print('NO occurence')
text=input('Enter the string')
alpha(text)

Enter the stringHello123
Ends with alphanumeric

# Question 27-Write a python program using RegEx to extract the hashtags.

In [83]:
pattern=r'#+\w+'
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
m=re.findall(pattern,text)
print(m)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [89]:
pattern=r'<U\+[0-9A-Z]+>'
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
k=re.sub(pattern, '',text)
print(k)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.

In [97]:
def dateextract(file_path):
    with open(file_path,'r') as file:
        text=file.read()
    pattern=r'\b\d{2}-\d{2}-\d{4}\b'
    match = re.findall(pattern,text)
    if match:
        return match
    else:
        return "Date not found"
file_path='Date.txt'
date=dateextract(file_path)
print(date)

['12-09-1992', '15-12-1999']

# Question-30 Create a function in python to remove all words from a string of length between 2 and 4. The use of the re.compile() method is mandatory

In [109]:
def removelen(text):
    pattern=r'\b\w{2,4}\s+\b'
    s=re.compile(pattern)
    w=s.sub('',text)
    w=w.strip()
    return w
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
removelen(text)

'following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.'